@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary

@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger mt-4">
    <h3>An error occurred while processing your request.</h3>
    <p>Please try again later.</p>
</div>